/* Opciones generales */
body {
  font-family: 'Roboto Slab', serif;
  background-color:antiquewhite;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: grid; /* Define el grid */
  gap: 1em;
  grid-template-columns: auto auto 2em 8em;
  grid-template-rows: max-content 1fr max-content 4fr max-content;
  transform: rotate(-45deg);
  margin-right: auto;
  margin-left: auto;
  margin-top: 7em;  
  width: 600px;
}
a {
  color:#e65145;
}

a:hover{
  color:red;
}

a:visited {
  color:blueviolet;
}

h2, h3 {
  font-family: Jost;
  text-transform: uppercase;
  color: #e65145;
}
main {
  margin-top: 9em;
  border-top: 5px solid;
  width: ;
}

main > h3 {
  padding-left: 1em
}
.subtitulo > h2 {
  writing-mode: vertical-lr;
  margin:0;
}

h3 {
  color: #e65145;
  letter-spacing: 0.150em;
  background-color: black;
}

p {
  font-size: 0.9em;
  text-align:justify;
} 

.logo {
  grid-column: 1/5;
  place-self: center center;
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1.2em;
  width: 100%;
  text-align: center;
}

.logo>h1{
  margin: 0;
  border-top: 5px solid;
  border-bottom: 5px solid;
  width: 100%
}

.subtitulo{
  grid-column: 3;
  grid-row: 2 / -2;

}

.laboratorio{
  grid-column: 1 / 3;
  grid-row: 3;
}

.laboratorio >h3 {
  background-color: black;
}

.laboratorio > p {
  border-bottom: 5px solid;
  border-top: 5px solid;
}
.blog {
  grid-column: -2;
  grid-row: 2 / -1;
  border-left: 5px solid;
  border-right: 5px solid;
  padding-left:0.5em;
  padding-right: 0.5em;
}

.blog>h3 {
  margin-top: 0;
}

.blog>h3>a {
  color: #e65145;
  text-decoration: none;
}

.blog>h3>a:hover {
  text-decoration: underline;
}

.laboratorio>h3>a {
  color: #e65145;
  text-decoration: none;
}

.laboratorio>h3>a:hover {
  text-decoration: underline;
}

.copyright {
  grid-column: -5 / -1;
  grid-row: -2 / -1;
  text-align: left;
  font-size: small;
  align-self: end;
  border-top: 5px solid;
}

/*Responsive*/

@media (max-width: 850px) {
  
  header {
    gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    transform: rotate(0);
    margin:0;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
  
  .logo {
    font-size: 20px
  }
  
  .subtitulo {
    grid-column: 1 / 3;
    grid-row: 2;
    border: 0;
  }
  
  h2 {
    font-size: 18px;
    writing-mode: horizontal-tb;
    margin-top: 0.5em;
  }
  
  .laboratorio {
    grid-row: 3;
  }
  
  .laboratorio > p{
    border-top: 0;
  }
  h3{
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  header {
    display: flex;
    flex-flow: column;
    margin-left: 1em;
    margin-right: 1em;
    transform: rotate(0);
    width: auto;
  }
  
  .logo {
    font-size: 13px;
    height: min-content;
    transform: rotate(0);
    text-align: center;
  }
 
  .subtitulo{
    border: 0px;
    letter-spacing: 0.1em;
  }
  
  h2 {
    font-size: 18px;
    text-align: center;
    writing-mode: horizontal-tb;
    border: 0px;
    margin-top: 1em;
  }
  
  .blog {
    border: 0px;
    padding: 0;
  }
  
  .blog > p {
    border-top: 5px solid;
    border-bottom: 5px solid;
  }
  
  .copyright {
    width: 100%;
  }
  
  .laboratorio>p {
    border: 0px;
  }
  
  .blog>p{
    border: 0px;
  }
  
}